<!DOCTYPE html>

<html lang="en">
<head>
<script async="" src="https://www.googletagmanager.com/gtag/js?id=G-GVLPE273XH"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-GVLPE273XH');
</script>

<meta charset="utf-8"/>
<meta content="width=device-width, initial-scale=1.0" name="viewport"/>
<title>{% block title %}Texas Special Ed{% endblock %}</title>
<link href="/style.css" rel="stylesheet"/>
</head>
<body>
    {% include 'components/navbar.html' %}
    
    <main class="content-container">
        {% block content %}{% endblock %}
    </main>

    {% include 'components/footer.html' %}
</body>
</html>
